@mixin button($size, $weight, $bg, $border, $color, $round) {
  font-size: $size;
  background-color: $bg;
  border: $border;
  color: $color;
  display: block;
  text-decoration: none;
  font-weight: $weight;
  padding: 0.75rem 1.5rem;
  border-radius: $round;
}
